{% extends "layout.html" %}

{% block admin_playlist %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/playlist.css') }}" >
<div class="alert alert-danger" {{ 'style=display:none' if errors|length == 0 else ''}} >
	{% for error in errors %}
		<p>{% autoescape off %} {{ error }}{% endautoescape %}</p>
	{% endfor %}

</div>
<div class="alert alert-success" {{ 'style=display:none' if success|length == 0 else ''}} >
	{% for succe in success %}
		<p>{% autoescape off %} {{ succe }}{% endautoescape %}</p>
	{% endfor %}

</div>

<div id="accordion" class="playlist">
	{% for song_id, song in songs.items() %}
		<div class="card">
			<div class="card-header pl-1 pr-1" id="heading{{song_id}}">
				<div class="row">
					<div class="col-12">
						<img src="{{ url_for('static', filename=song['song_img_path'] )}}" width=5% height=5%>

						<button id="{{song_id}}" onclick="window.location='/playsong/{{song_id}}'" class="btn text-left pr-0 {{ 'active' if song_id == currsong_index else ' ' }} " type="button" >
							{{ song['song_name'] }}<br><span class="{{ 'author-active' if song_id == currsong_index else 'author'}} "> {{ song['song_author'] }} </span>
						</button>
						<div class="float-right d-flex align-self-center">	
							<p class="pr-2 align-self-center"> {{ song['likes'] }} </p>
							<form action='/adm_pl/delete/{{song_id}}', method='POST'>
								<button class="btn pr-3 my-auto" type="submit" name="del" onclick="confirmation('{{song['song_name']}}', '{{song['song_author']}}', '{{song_id}}')" >
								<img style="width: 20px; height: 20px;" id='del{{ song_id }}' src="{{ url_for('static', filename='del_song.png')}}" >
								</button>
							</form>
							<button class="btn pr-1 pl-0 collapsed text-right float-right" type="button" data-toggle="collapse" data-target="#collapse{{song_id}}" aria-expanded="false" aria-controls="collapse{{song_id}}">
								<img src='https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff'>
							</button>
						</div>
					</div>
				</div>

			</div>

			<div id="collapse{{song_id}}" class="collapse" aria-labelledby="heading{{song_id}}" data-parent="#accordion">
				<div class="card-body pb-0">
					<div id="form{{song_id}}">
					<div class="row">
						<div id="song_img{{song_id}}">
							<div class="col-12 d-flex " style="position: absolute;">
								<div class="col-12 ">
									<img class="exp-img mx-auto d-block" src="{{ url_for('static', filename=song['song_img_path'] )}}">
								</div>
							</div>
						</div>
						<div class="col-12" style="position: absolute">
							<button class="btn" type="button" onclick="edit(this, {{ song_id }})" {{ 'disabled' if song_id == currsong_index else '' }}>
								<img src="{{ url_for('static', filename='edit.png' )}}" style="width: 30px; height: 30px; position: absolute; right:15px;" >
							</button>
						</div>	
					</div>
					<div class="row song_info">
						<div class="col-12 text-center">
							<div  id="song_name{{song_id}}" style="font-size: 1.5em; margin-bottom: 0">
								<p >{{ song['song_name'] }}</p>
							</div>
							<div id="song_author{{song_id}}" style="font-size: 1.5em; margin-bottom: 0">

								<span class="author"> {{ song['song_author'] }} </span>
							</div> 
						</div>

					</div>
					<div id="song_files{{song_id}}" class="row">
						<div  class="col-2 p-0 text-right">
							
							<p class="my-auto" {{ 'id=curr_time_song' if song_id == currsong_index else ' ' }}> 00:00 </p>
						</div>
						<div class="col-8 my-auto">
							<div class="{{ 'border-duration' if song_id == currsong_index else 'border-duration-inactive' }} my-auto" {{ 'id=active_song_duration' if song_id == currsong_index else ' '}}>
							</div>
						</div>
						<div class="col-2 p-0 text-left">

							<p class="my-auto"> {{song['song_duration_mins']}} </p>
						
						</div>	
						<div class="col-12 text-center">

							<button class="btn py-0 m-auto" type="button" >
								<img class="play" src="{{ url_for('static', filename='play.png' )}}" >
							</button>
						</div>

					</div>
				</div>
				</div>
			</div>
		</div>
	{% endfor %}
	<div class="card">
		<div class="card-header pl-1 pr-1" id="heading_new">
			<div class="row">
				<div class="col-12 d-flex justify-content-center">
					<div class="">	
						<button class="btn pr-1 pl-0 collapsed text-center" type="button" data-toggle="collapse" data-target="#collapse_new" aria-expanded="false" aria-controls="collapse_new">
							<img src="{{ url_for('static', filename='plus.png' )}}">
						</button>
					</div>
				</div>
			</div>

		</div>
		<div id="collapse_new" class="collapse" aria-labelledby="heading_new" data-parent="#accordion">
			<div class="card-body pb-0">
				<form method="POST" action="/add_new" enctype="multipart/form-data">
					<div class="row">
						<div>
							<div class="col-12 d-flex" style="position:absolute;">
								<div class="image-upload mx-auto">
									<label for="song_btn_new">
											<img id="song_img_new" class="exp-img mx-auto d-block" src="{{url_for('static', filename='new_img.png')}}">
									</label>
									<input accept="image/*" type="file" id="song_btn_new" onchange="loadFile(event,'_new')" name="song_img_new" required>
								</div>
							</div>
						</div>
						<div class="col-12" style="position: absolute">
							<button class="btn" type="submit">
								<img src="{{url_for('static', filename='tick.png')}}" style="width: 30px; height: 30px; position: absolute; right:15px;">
							</button>
						</div>	
					</div>
					<div class="row song_info">
						<div class="col-12 text-center">
							<div style="font-size: 1.5em; margin-bottom: 0px;">
								<div class="col-md-7 col-sm-11 mx-auto error">
									<span id="error_song_img"></span>
								</div>

								<div class="col-md-7 col-sm-11 px-0 mt-2 input-group mx-auto">
									<div class="input-group-prepend">
										<span class="input-group-text" id="inputGroup-sizing-sm">Song Name</span>
									</div>
									<input type="text" class="form-control m-0" aria-label="Small" aria-describedby="inputGroup-sizing-sm" value="{{ form_val['song_name_new'] if form_val != none else ''}}" placeholder="All the single ladies" name="song_name_new" onkeyup="check_song_name(this)" required>
								</div>
								<div class="col-md-7 col-sm-11 mx-auto px-2 mb-2 text-left error">
									<span id="error_song_name"></span>
								</div>
							</div>
							<div style="font-size: 1.5em; margin-bottom: 0px;">
								<div class="col-md-7 col-sm-11 px-0 input-group mx-auto mt-2">
									<div class="input-group-prepend">
										<span class="input-group-text" id="inputGroup-sizing-sm">Song Author</span>
									</div>
									<input type="text" class="form-control m-0" aria-label="Small" aria-describedby="inputGroup-sizing-sm" value="{{ form_val['song_author_new'] if form_val != none else ''}}" placeholder="Beyoncé" name="song_author_new" onkeyup="check_song_author(this)" required>
								</div>
								<div class="col-md-7 col-sm-11 mx-auto px-2 mb-2 text-left error">
									<span id="error_song_author"></span>
								</div>
							</div> 
						</div>
					</div>
					<div class="col-12 text-center">
						<div class="row">
							<div class="col-md-7 col-sm-11 mx-auto mb-0 px-0 mt-2">
								<div class="mb-3">
									<label for="mp3" class="form-label">New MP3 song file</label>
									<input class="form-control" type="file" id="mp3" name="mp3_song_new"  onchange="mp3_valid(this)" required>
								</div>
							</div>
							<div class="col-md-7 col-sm-11 mx-auto px-2 mb-2 text-left error">
								<span id="error_mp3"></span>
							</div>
						</div>
						<div class="row">
							<div class="col-md-7 col-sm-11 px-0  mx-auto">
								<div class="mb-3">
									<label for="formFile" class="form-label">New TXT song sequence</label>
									<input class="form-control" type="file" id="formFile" name="txt_sequence_new" onchange="txt_valid(this)" required>
								</div>
							</div>
							<div class="col-md-7 col-sm-11 mx-auto px-0 text-left error">
								<span id="error_txt"></span>
							</div>

						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>


	<script src="{{ url_for('static', filename='js/edit.js' )}}"></script>
	<script src="{{ url_for('static', filename='js/check_song_form.js' )}}"></script>
	<script>
		function confirmation(name, author, id)  {
			var x;
			if (confirm(`You are about to delete a song ${name} by ${author}`) == true) {
				alert(`Song ${name} by ${author} was deleted from the database. Due to the high risk of alcohol consumption during the Christmas holidays, which the admin may fail to resist, the files will be moved to another directory (called 'removed') to prevent any undisered actions that might resolve in further, even heavier drinking.`);
				window.location.href += `/delete/${id}`;
			}else{
				alert("This song was not deleted");
			};	
		};
	</script>
{% endblock %}
<form runat="server">
	<div class="image-upload">
		<label for="song_btn{{song_id}}">
		
			<img id="song_img{{song_id}}" class="exp-img mx-auto d-block" src="{{ url_for('static', filename=song['song_img_path'] )}}">
		</label>
		<input accept="image/*" type="file" id="song_btn{{song_id}}" onchange="loadFile(event, {{song_id}})">
	</div>

</form>

